{%- if section.settings.home_page_only == false or template.name == 'index' -%}
<section class="text-center announcement-bar {% if section.settings.hide_announcement_mobile %}  hide-mobile{% endif %}">
  
  {%- if section.settings.text != blank -%}
  
  {%- if section.settings.link != blank -%}<a href="{{ section.settings.link }}" >{%- endif -%}
 
    {{ section.settings.text | escape }}
    
    {%- if section.settings.link != blank -%}</a>{%- endif -%}
  
  <a href="javascript:void(0)" class="close close-icon dt-sc-btn"></a>
  
  {%- endif -%}
  
</section>
{%- endif -%}

<style>
  
  .announcement-bar{ 
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative; 
    clear:both; 
    width:100%; 
    transition: all .3s linear; 
  }
  .announcement-bar>*{ margin:0; }
  .announcement-bar .close-icon{ background: transparent; position: absolute; transform: translateY(-50%); top: 50%; right: 15px;}
  .announcement-bar:empty{ display:none;}
  
</style>
