<div class="collection-view" data-view>
  <a title="Grid view" class="change-mode active" data-view="grid">
    {% render 'icon-grid' %} 
  </a>
  <a title="List view" class="change-mode" data-view="list">
   {% render 'icon-list' %} 
  </a>
</div>
