<div class="{{ footer_column_alignment}}">
{% if block.settings.title != blank  and section.settings.show_footer_title %}        
  <h5 class="footer__title ">{{ block.settings.title }}</h5>
  {% endif %}
  <div class="footer-text">
    {{ block.settings.text }}
  </div>
  {% if block.settings.html != blank  %}  
  {{ block.settings.html }}
  {% endif %}
</div>