<div id="CartDrawer" class="drawer drawer--right">
  <div class="drawer__header">
    <span class="drawer__close js-drawer-close dt-sc-btn close-icon">
     
    </span>
    <h4>{{ 'cart.general.title' | t }}</h4>
  </div>
  <div id="CartContainer"></div>
</div>

