{% if settings.password_logo != blank %}
<a href="/" class="site-header__logo-image">   
  <img src="{{ settings.password_logo | img_url: 'x250' }}" alt="{{ shop.name }}">        
</a>
{% else %}
<h1 class="site-header__logo-link" href="/">
  <span class="logo">{{ shop.name }}</span>
</h1>
{% endif %}

{% if settings.pwd_header != blank %}
<h2 class="password__title">{{ settings.pwd_header }}</h2>
{% endif %}

