<div class="row">
  <div class="dt-sc-overlay-section dt-sc-column">
    {{ page.content }}
  </div>
</div>
{% section 'inner-page-list-with-image-section' %}
{% section 'inner-page-overlay-section' %}
{% section 'inner-page-info-box-section' %}
{% section 'inner-page-icon-box-section' %}
{% section 'inner-page-testimonials-section' %}
{% section 'inner-page-brand-logos' %}